{"watcher": {"enabled": true},  "aiomqtt": {"enabled": false}, "mip": {"enabled": false}, "stats": {"enabled": true}, "devop": {"enabled": false},
"unittest": {"enabled": true, "kwargs":{"debug": false, "schedule":{"repeat": 30, "start_in": 2}, "modules": ["/Users/carlosgilgonzalez/.micropython/lib", "mymodule.py"]}}}
