{"watcher": {"enabled": true},  "aiomqtt": {"enabled": false},  "stats": {"enabled": true}, "devop": {"enabled": false},
"unittest": {"enabled": true, "kwargs":{"debug": false, "schedule":{"repeat": 30, "start_in": 2}, "modules": ["/Users/carlosgilgonzalez/.micropython/lib",], "root": ""}},
"mip": {"enabled":true, "kwargs": {"autoupdate": true, "packages": {} ,"restart": false, "schedule": {"repeat":60, "start_in": 30} }}}
