{
    "aiomqtt": {
        "enabled": true,
        "kwargs": {
            "hostname": "amd.local",
            "keepalive": 300,
            "port": 8883,
            "server": "amd.local",
            "ssl": true,
            "ssl_params": {
                "ca": "ca.crt",
                "cert": "client.crt",
                "key": "client-key.pem"
            },
            "stats": true,
            "loglevel": "INFO",
            "service_logger": true,
        }
    },
    "aiomqtt_sensor_bme280": {
        "enabled": true,
        "kwargs": {
            "hostname": "amd.local"
        }
    },
    "aiomqtt_sensor_ina219": {
        "enabled": true,
        "kwargs": {
            "hostname": "amd.local"
        }
    },
    "devop": {
        "enabled": false
    },
    "hello": {
        "enabled": true,
        "kwargs": {
            "loglevel": "INFO",
            "service_logger": true,
        },
    },
    "microdot": {
        "enabled": false,
        "kwargs": {
            "cert": "cert.pem",
            "key": "key.pem",
            "port": 4443,
            "ssl": true
        }
    },
    "webfile": {
        "enabled": false,
        "kwargs": {
            "cert": "cert.pem",
            "key": "key.pem",
            "port": 4444,
            "ssl": true
        }
    },

    "microdot_ws": {,
        "enabled": true,
        "kwargs": {
            "cert": "cert.pem",
            "key": "key.pem",
            "port": 8443,
            "ssl": true,
        }
    },
    "mip": {
        "enabled": true,
        "kwargs": {
            "autoupdate": true,
            "packages": {},
            "restart": false,
            "schedule": {
                "repeat": 60,
                "start_in": 30
            }
        }
    },
    "powermg": {
        "enabled": false
    },
    "stats": {
        "enabled": true
    },
    "unittest": {
        "enabled": false,
        "kwargs": {
            "debug": false,
            "modules": [
                "/Users/carlosgilgonzalez/.micropython/lib"
            ],
            "root": "",
            "save_report": true,
            "schedule": {
                "repeat": 30,
                "start_in": 2
            }
        }
    },

    "unittest_core": {
        "enabled": true,
        "kwargs": {
            "debug": false,
            "modules": [
                "/Users/carlosgilgonzalez/.micropython/lib"
            ],
            "root": "",
            "save_report": true,
            "rollback_ota_on_error": false,
            "require": []
        }
    },
    "watcher": {
        "enabled": true,
        "kwargs": {
            "save_report": true
            "err_service_limit": {
                "aiomqtt.service": 5
                "aiomqtt.service.stats": 5
            }
        }
    },
    "world": {
        "enabled": true
    }
    "ping": {
        "enabled": true,
        "kwargs":{
            "host": "192.168.1.1"
            "nodes": ["especg.local", "amd.local", "gkesp32.local"]
        }
    }
}
