 systemd unit file for the MicroPython Demo asyncmd Service


[Unit]
Description=asyncmd service

[Service]
# Command to execute when the service is started
ExecStart=/home/cgg/.local/bin/micropython /home/cgg/Develop/MICROPYTHON/asyncmd/develop/unix/main.py
WorkingDirectory=/home/cgg/Develop/asyncmd/develop/unix/
StandardOutput=inherit
StandardError=inherit


# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure

# Our service will notify systemd once it is up and running

# Use a dedicated user to run our service


[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=multi-user.target
