{
  "as_mqtt": {
    "enabled": false
  },
  "aiomqtt": {
    "enabled": true,
    "kwargs": {
      "server": "amd.local",
      "ssl": true,
      "ssl_params": {
        "cert": "client.crt",
        "key": "client-key.pem",
        "ca": "ca.crt"
      },
      "hostname": "amd.local",
      "port": 8883,
      "keepalive": 300,
      "stats": true
    }
  },
  "mip": {
    "enabled": false,
    "kwargs": {
      "packages": {},
      "schedule": {
        "repeat": false,
        "start_in": 2
      },
      "restart": false,
      "autoupdate": true
    }
  },
  "watcher": {
    "enabled": true,
    "kwargs": {
      "max_errors": 20
    }
  },
  "aiomqtt_sensor_bme280": {
    "enabled": true
  },
  "unittest": {
    "enabled": false,
    "kwargs": {
      "debug": false,
      "schedule": {
        "repeat": false,
        "start_in": 2
      }
    }
  },
  "ota": {
    "enabled": true,
    "kwargs": {
      "read_size": 512,
      "tls": true,
      "hostname": "localhost"
    }
  },
  "hello": {
    "enabled": false,
    "args": [
      2,
      6
    ]
  },
  "as_mqtt_ambsense": {
    "enabled": false,
    "kwargs": {
      "ssl_params": {
        "cert": "client-ec.crt",
        "key": "client-ec-key-private.pem",
        "ca": "ca.crt"
      },
      "hostname": "localhost",
      "port": 8883,
      "ssl": true,
      "server": "192.168.1.66",
      "keepalive": 300
    }
  },
  "esp32test": {
    "enabled": false
  },
  "network": {
    "enabled": true,
    "kwargs": {
      "led": 2,
      "timeoffset": "+01:00",
      "rsyslog": "amd.local"
    }
  },
  "devop": {
    "enabled": false,
    "kwargs": {
      "bootmode": "update",
      "reset": {
        "update": {
          "reset": true,
          "waitfor": [
            "mip.service"
          ],
          "in": 10
        },
        "app": {
          "reset": false
        },
        "test": {
          "reset": true,
          "waitfor": [
            "unittest.service"
          ],
          "in": 10
        }
      },
      "report": {
        "update": [
          "mip.service"
        ],
        "test": [
          "unittest.service"
        ]
      },
      "devmodes": {
        "update": [
          "network.service",
          "mip.service",
          "watcher.service",
          "aiomqtt.service"
        ],
        "app": [
          "network.service",
          "wpa_supplicant.service",
          "watcher.service",
          "ota.service",
          "aiomqtt.service",
          "aiomqtt_sensor_bme280.service"
        ],
        "test": [
          "unittest.service",
          "watcher.service",
          "network.service",
          "aiomqtt.service"
        ]
      },
      "cycle": [
        "update",
        "test",
        "app"
      ]
    }
  },
  "microdot": {
    "enabled": false
  },
  "wpa_supplicant": {
    "enabled": true,
    "kwargs": {
      "schedule": {
        "repeat": 60,
        "start_in": 30
      },
      "restart_services": "aiomqtt.service"
    }
  },
  "stats": {
    "enabled": false
  }
}

